@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,600');

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  color: #121212;
  background-color: #FEFEFE;
}

body {
  margin: 0;
}

p {
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #121212;
  font-weight: 600;
}

.profile-name {
  font-weight: 600;
}

.profile-picture {
  @media (min-width: 576px) {
    max-width: 300px;
  }
  margin-bottom: 1.45rem;
}

.profile-links {
  line-height: 1.45rem;
}